@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #f0f0f0;
  background-color: #121212;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.heroSection::before,
.heroSection::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.heroSection::before {
  top: -10px;
  background-image: url(/dot.svg);
  z-index: -2;
}
.heroSection::after {
  top: 0;
  background-image: url(/light.svg);
  z-index: -1;
}
@layer utilities {
  .styleSection {
    @apply flex items-center gap-3 max-w-screen-lg max-[600px]:px-[2rem] max-[600px]:py-[4rem] py-[7rem] w-full mx-auto;
  }
  .boxWrapper {
    @apply bg-gradient-to-r from-[#E3E3E3] to-[#3D3D3D] p-1;
  }
  .boxContain {
    @apply bg-[#141414] flex items-center gap-2;
  }
}
